<div class="header grid ">
        <div class="container row no-gutters nav">
            <div class="container-logo col l-3 m-3">
                <a href="/">
                    <img src="/public/image/logomtg.svg" alt="">
                </a>
            </div>
            <div class="container-seach col l-5 m-5 c-0">
               <div class="container-seach__input">
                    <input type="text" placeholder="Tìm truyện..." id="findcomic">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <div class="listfindcomic" id="listfindcomic">
                        <ul id="show--comicfind">
                            <li class="findcomic--item">
                                    <div class="findcomic--item__img">
                                        <a href="/commic/"><img src="/public/image/comic/bluf.jpg" alt="top truyen"></a>
                                    </div>
                                    <div class="findcomic--item__info">
                                        <a href="/commic/{{this.id}}">hảo hán pasdasdasas asdsadasd asdasdasdas asdasdasda asdasdasdasd ádasasđ asdasdasd asdasdas hương nào</a>
                                        
                                    </div>
                            </li>
                        </ul>
                    </div>
               </div>
            </div>
            <div class="container-notification col l-2 m-2">
                <div class="container-notification__light" id="change-background">
                    <i class="fa-solid fa-lightbulb"></i>
                </div>
                <div class="container-notification__message" id="show-notification">
                    <i class="fa-solid fa-comment"></i>
                    <div class="drop-notification" id="drop-notification">
                        <div class="drop-notification__comment">
                            <div class="drop-notification__top">
                                <a href="">Thông Báo</a>
                            </div>
                            <div class="drop-notification__bottom">
                                <div class="list-notification__comment">
                                    <a href="#">
                                        <div class="comment__img ">
                                            <img src="/public/image/avt.png" alt="avatar">
                                        </div>
                                        <div class="comment__notify ">
                                            <span><b>Thằng Nào Đó</b> đã trả lời bình luận của bạn trong truyện <b>Truyện Gì Đó</b></span> <br>
                                            <i>xx min ago</i>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-notification__comment">
                                    <a href="#">
                                        <div class="comment__img ">
                                            <img src="/public/image/avt.png" alt="avatar">
                                        </div>
                                        <div class="comment__notify ">
                                            <span><b>Thằng Nào Đó</b> đã trả lời bình luận của bạn trong truyện <b>Truyện Gì Đó</b></span> <br>
                                            <i>xx min ago</i>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-notification__comment">
                                    <a href="#">
                                        <div class="comment__img ">
                                            <img src="/public/image/avt.png" alt="avatar">
                                        </div>
                                        <div class="comment__notify ">
                                            <span><b>Thằng Nào Đó</b> đã trả lời bình luận của bạn trong truyện <b>Truyện Gì Đó</b></span> <br>
                                            <i>xx min ago</i>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-notification__comment">
                                    <a href="#">
                                        <div class="comment__img ">
                                            <img src="/public/image/avt.png" alt="avatar">
                                        </div>
                                        <div class="comment__notify ">
                                            <span><b>Thằng Nào Đó</b> đã trả lời bình luận của bạn trong truyện <b>Truyện Gì Đó</b></span> <br>
                                            <i>xx min ago</i>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-notification__comment">
                                    <a href="#">
                                        <div class="comment__img ">
                                            <img src="/public/image/avt.png" alt="avatar">
                                        </div>
                                        <div class="comment__notify ">
                                            <span><b>Thằng Nào Đó</b> đã trả lời bình luận của bạn trong truyện <b>Truyện Gì Đó</b></span> <br>
                                            <i>xx min ago</i>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-notification__comment">
                                    <a href="#">
                                        <div class="comment__img ">
                                            <img src="/public/image/avt.png" alt="avatar">
                                        </div>
                                        <div class="comment__notify ">
                                            <span><b>Thằng Nào Đó</b> đã trả lời bình luận của bạn trong truyện <b>Truyện Gì Đó</b></span> <br>
                                            <i>xx min ago</i>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-notification__comment">
                                    <a href="#">
                                        <div class="comment__img ">
                                            <img src="/public/image/avt.png" alt="avatar">
                                        </div>
                                        <div class="comment__notify ">
                                            <span><b>Thằng Nào Đó</b> đã trả lời bình luận của bạn trong truyện <b>Truyện Gì Đó</b></span> <br>
                                            <i>xx min ago</i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{{#if cookies}} 
            <div class="container-user col l-2 m-2 c-0">
                <a href="#">
                    <img class="user_image" src="" alt="" id="user_image"> 
                    <div>
                        <span class="header_username">Cá Nhân</span>
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </a>
                <div class="drop-user">
                    <ul>
                        <li>
                           <a href="/user">
                                <i class="fa-solid fa-user"></i>
                                <span>Trang Cá Nhân</span>
                           </a>
                        </li>
                        <li>
                            <a href="/followcomic">
                                <i class="fa-solid fa-book"></i>
                                <span>Truyện Theo Dõi</span>
                            </a>
                        </li>
                        <li>
                            <a href="/logout">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                <span>Thoát</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            </div> 
{{else}}
            <div class="container-user__login">
                <a href="/login">Đăng Nhập</a>
                {{!-- <div> {{token}}</div> --}}
            </div>
{{/if}}
        </div>
    </div>

<div class="navbar grid l-12 m-12 c-0" id="navbar">
        <div class="navbar-nav grid wide">
            <ul class=navbar-list>
                <li class="navbar-list__home" >
                    <a href="/" id="home" class="home">
                        <i class="fa-solid fa-house-chimney"></i>
                    </a>
                </li>
                <li class="navbar-list__item">
                    <a href="/hot" class="setcolor">
                        <i>HOT</i>
                    </a>
                </li>
                <li class="navbar-list__item">
                    <a href="/follow" class="setcolor">
                        <i>THEO DÕI</i>
                    </a>
                </li>
                <li class="navbar-list__item">
                    <a href="/history" class="setcolor">
                        <i>LỊCH SỬ</i>
                    </a>
                </li>
                <li class="navbar-list__item category">
                    <a href="#" class="setcolor">
                        <span>THỂ LOẠI</span>
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <div class="drop-category grid wide">
                        <div class="drop-category__list">
                            <div class="drop-category__item" >
                                        <a href="">Manga</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Manhua</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Manhwa</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Action</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Adult</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Adventure</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Chuyển Sinh</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Comedy</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Cooking</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Cổ Đại</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Drama</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Đam Mỹ</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Bách Hợp</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Ecchi</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Fantasy</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Gender Bender</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Harem</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Horror</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Mecha</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Mystery</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Ngôn Tình</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">One Shot</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Psychological</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Romance</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">School Life</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Slice of Life</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Smut</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Sports</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Tragedy</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Trinh Thám</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Truyện Màu</a>
                                    </div>
                                    <div class="drop-category__item" >
                                        <a href="">Xuyên Không</a>
                                    </div>
                        </div>
                    </div>
                </li>
                <li class="navbar-list__item ratings">
                    <a href="" class="setcolor">
                        <span>XẾP HẠNG</span>
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <ul class="drop-ratings grid wide">
                        <div class="drop-ratings__list row no-gutters">
                            <div class="drop-ratings__item col l-6 m-6">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-eye"></i>
                                            <span>Top all</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-eye"></i>
                                            <span>Top tháng</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-eye"></i>
                                            <span>Top tuần</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-eye"></i>
                                            <span>Top ngày</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="drop-ratings__item col l-6 m-6">
                                <ul>
                                    <li class="rating-comic__full">
                                        <a href="#">
                                            <i class="fa-solid fa-signal"></i>
                                            <span>Truyện full</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-thumbs-up"></i>
                                            <span>Ưa thích</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-rotate"></i>
                                            <span>Mới cập nhật</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-cloud-arrow-up"></i>
                                            <span>Truyện mới</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="navbar-list__item">
                    <a href="#" class="setcolor">
                        <i>
                            TÌM TRUYỆN
                        </i>
                    </a>
                </li>
                <li class="navbar-list__item hide-on-tablet">
                    <a href="#" class="setcolor">
                        <i>CỘNG ĐỒNG</i>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
<div class="background" id="background" style="background-image: ;"></div>
<script>
    const cookies = document.cookie
    if (cookies) {
        const parseCoookie = JSON.parse(decodeURIComponent(cookies).split("=")[1])
        const avtURI = parseCoookie.avatar || "https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F47%2F2020%2F08%2F04%2Fcream-golden-retriever-closeup-91607998-2000.jpg"
        const username = parseCoookie.username ||  parseCoookie.admin_name
        const gmail = parseCoookie.gmail
        if(parseCoookie.avatar){
            var uservat ="../../../public/image/avatar/"+avtURI 
        }else{
           var uservat= "https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F47%2F2020%2F08%2F04%2Fcream-golden-retriever-closeup-91607998-2000.jpg"
        }
        console.log(uservat)
        const user_image = document.querySelector(".user_image")
        const header_username = document.querySelector(".header_username")
        
        if(user_image && header_username) {
            user_image.src = uservat
            header_username.innerHTML = username
        }
        
    }

</script> 