{{>header cookies=cookies}}
    <div class="chapter">
        <div class="chapter--header">
            <div class="chapter--header__menu">
                <a href=""><i class="fa-solid fa-caret-left"></i></a>
                <select>
                    <option value="">{{chapter.name}}<option>
                </select>
                <a href=""><i class="fa-solid fa-caret-right"></i></a>
            </div>
            <div class="chapter--header__list">
                {{#each chapter.uri}}
                    <div class="chapter--header__item">
                        <img class="item" src="/public/image/chapter/{{../chapter.id}}/{{this}}" alt="">
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
{{>footer}}
