<div class="header grid ">
        <div class="container row no-gutters nav">
            <div class="container-logo col l-3 m-3">
                <a href="/">
                    <img src="/public/image/logomtg.svg" alt="">
                </a>
            </div>
            <div class="container-seach col l-5 m-5 c-0">
               <div class="container-seach__input">
                    <input type="text" placeholder="Tìm truyện..." id="findcomic">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <div class="listfindcomic" id="listfindcomic">
                        <ul id="show--comicfind">
                            <li class="findcomic--item">
                                    <div class="findcomic--item__img">
                                        <a href="/commic/"><img src="/public/image/comic/bluf.jpg" alt="top truyen"></a>
                                    </div>
                                    <div class="findcomic--item__info">
                                        <a href="/commic/{{this.id}}">hảo hán pasdasdasas asdsadasd asdasdasdas asdasdasda asdasdasdasd ádasasđ asdasdasd asdasdas hương nào</a>
                                        
                                    </div>
                            </li>
                        </ul>
                    </div>
               </div>
            </div>
            <div class="container-notification col l-2 m-2">
                <div class="container-notification__light" id="change-background">
                    <i class="fa-solid fa-lightbulb"></i>
                </div>
                <div class="container-notification__message" id="show-notification">
                    <i class="fa-solid fa-comment"></i>
                    <div class="drop-notification" id="drop-notification">
                        <div class="drop-notification__comment">
                            <div class="drop-notification__top">
                                <a href="">Thông Báo</a>
                            </div>
                            <div class="drop-notification__bottom">
                                <div class="list-notification__comment">
                                    <a href="#">
                                        <div class="comment__img ">
                                            <img src="/public/image/avt.png" alt="avatar">
                                        </div>
                                        <div class="comment__notify ">
                                            <span><b>Thằng Nào Đó</b> đã trả lời bình luận của bạn trong truyện <b>Truyện Gì Đó</b></span> <br>
                                            <i>xx min ago</i>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-notification__comment">
                                    <a href="#">
                                        <div class="comment__img ">
                                            <img src="/public/image/avt.png" alt="avatar">
                                        </div>
                                        <div class="comment__notify ">
                                            <span><b>Thằng Nào Đó</b> đã trả lời bình luận của bạn trong truyện <b>Truyện Gì Đó</b></span> <br>
                                            <i>xx min ago</i>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-notification__comment">
                                    <a href="#">
                                        <div class="comment__img ">
                                            <img src="/public/image/avt.png" alt="avatar">
                                        </div>
                                        <div class="comment__notify ">
                                            <span><b>Thằng Nào Đó</b> đã trả lời bình luận của bạn trong truyện <b>Truyện Gì Đó</b></span> <br>
                                            <i>xx min ago</i>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-notification__comment">
                                    <a href="#">
                                        <div class="comment__img ">
                                            <img src="/public/image/avt.png" alt="avatar">
                                        </div>
                                        <div class="comment__notify ">
                                            <span><b>Thằng Nào Đó</b> đã trả lời bình luận của bạn trong truyện <b>Truyện Gì Đó</b></span> <br>
                                            <i>xx min ago</i>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-notification__comment">
                                    <a href="#">
                                        <div class="comment__img ">
                                            <img src="/public/image/avt.png" alt="avatar">
                                        </div>
                                        <div class="comment__notify ">
                                            <span><b>Thằng Nào Đó</b> đã trả lời bình luận của bạn trong truyện <b>Truyện Gì Đó</b></span> <br>
                                            <i>xx min ago</i>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-notification__comment">
                                    <a href="#">
                                        <div class="comment__img ">
                                            <img src="/public/image/avt.png" alt="avatar">
                                        </div>
                                        <div class="comment__notify ">
                                            <span><b>Thằng Nào Đó</b> đã trả lời bình luận của bạn trong truyện <b>Truyện Gì Đó</b></span> <br>
                                            <i>xx min ago</i>
                                        </div>
                                    </a>
                                </div>
                                <div class="list-notification__comment">
                                    <a href="#">
                                        <div class="comment__img ">
                                            <img src="/public/image/avt.png" alt="avatar">
                                        </div>
                                        <div class="comment__notify ">
                                            <span><b>Thằng Nào Đó</b> đã trả lời bình luận của bạn trong truyện <b>Truyện Gì Đó</b></span> <br>
                                            <i>xx min ago</i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{{#if cookies}} 
            <div class="container-user col l-2 m-2 c-0">
                <a href="#">
                    <img class="user_image" src="" alt="" id="user_image"> 
                    <div>
                        <span class="header_username">Cá Nhân</span>
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </a>
                <div class="drop-user">
                    <ul>
                        <li>
                           <a href="/user">
                                <i class="fa-solid fa-user"></i>
                                <span>Trang Cá Nhân</span>
                           </a>
                        </li>
                        <li>
                            <a href="/followcomic">
                                <i class="fa-solid fa-book"></i>
                                <span>Truyện Theo Dõi</span>
                            </a>
                        </li>
                        <li>
                            <a href="/logout">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                <span>Thoát</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            </div> 
{{else}}
            <div class="container-user__login">
                <a href="/login">Đăng Nhập</a>
                {{!-- <div> {{token}}</div> --}}
            </div>
{{/if}}
        </div>
    </div>

<div class="navbar grid l-12 m-12 c-0" id="navbar">
        <div class="navbar-nav grid wide">
            <ul class=navbar-list>
                <li class="navbar-list__home" >
                    <a href="/" id="home" class="home">
                        <i class="fa-solid fa-house-chimney"></i>
                    </a>
                </li>
                <li class="navbar-list__item">
                    <a href="/hot" class="setcolor">
                        <i>HOT</i>
                    </a>
                </li>
                <li class="navbar-list__item">
                    <a href="/follow" class="setcolor">
                        <i>THEO DÕI</i>
                    </a>
                </li>
                <li class="navbar-list__item">
                    <a href="/history" class="setcolor">
                        <i>LỊCH SỬ</i>
                    </a>
                </li>
                <li class="navbar-list__item category">
                    <a href="#" class="setcolor">
                        <span>THỂ LOẠI</span>
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <div class="drop-category grid wide">
                        <div class="drop-category__list">
                            <div class="drop-category__item" >
                                        <p onclick="seachcategory(1,1)">Manga</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(2,1)">Manhua</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(3,1)">Manhwa</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(4,1)">Action</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(5,1)">Adult</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(6,1)">Adventure</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(7,1)">Chuyển Sinh</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(8,1)">Comedy</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(9,1)">Cooking</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(10,1)">Cổ Đại</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(11,1)">Drama</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(12,1)">Đam Mỹ</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(13,1)">Bách Hợp</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(14,1)">Ecchi</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(15,1)">Fantasy</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(16,1)">Gender Bender</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(17,1)">Harem</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(18,1)">Horror</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(19,1)">Mecha</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(20,1)">Mystery</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(21,1)">Ngôn Tình</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(22,1)">One Shot</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(23,1)">Psychological</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(24,1)">Romance</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(25,1)">School Life</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(26,1)">Slice of Life</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(27,1)">Smut</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(28,1)">Sports</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(29,1)">Tragedy</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(30,1)">Trinh Thám</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(31,1)">Truyện Màu</p>
                                    </div>
                                    <div class="drop-category__item" >
                                    <p onclick="seachcategory(32,1)">Xuyên Không</p>
                                    </div>
                        </div>
                    </div>
                </li>
                <li class="navbar-list__item ratings">
                    <a href="" class="setcolor">
                        <span>XẾP HẠNG</span>
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <ul class="drop-ratings grid wide">
                        <div class="drop-ratings__list row no-gutters">
                            <div class="drop-ratings__item col l-6 m-6">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-eye"></i>
                                            <span>Top all</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-eye"></i>
                                            <span>Top tháng</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-eye"></i>
                                            <span>Top tuần</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-eye"></i>
                                            <span>Top ngày</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="drop-ratings__item col l-6 m-6">
                                <ul>
                                    <li class="rating-comic__full">
                                        <a href="#">
                                            <i class="fa-solid fa-signal"></i>
                                            <span>Truyện full</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-thumbs-up"></i>
                                            <span>Ưa thích</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-rotate"></i>
                                            <span>Mới cập nhật</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-cloud-arrow-up"></i>
                                            <span>Truyện mới</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="navbar-list__item">
                    <a href="#" class="setcolor">
                        <i>
                            TÌM TRUYỆN
                        </i>
                    </a>
                </li>
                <li class="navbar-list__item hide-on-tablet">
                    <a href="#" class="setcolor">
                        <i>CỘNG ĐỒNG</i>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
<div class="background" id="background" style="background-image: ;"></div>
<div class="dashboad" id="dashboad">
    <span>
        <i class="fa-solid fa-angle-up"></i>
        
    </span>
</div>
<div class="setting" id="setting">
    <span>
       <i class="fa-solid fa-gear"></i>
    </span>
</div>
<div class="showsetting" id="showsetting">
    <div class="setting--header">
        <h1>Cài Đặt</h1>
        <div class="setting--header__exit" id="showsetting--exit">
           <i class="fa-regular fa-circle-xmark"></i>
        </div>
    </div>
    <div class="setting--container">
        <div>
            <h3>Chọn ảnh từ máy:</h3>
            <i>Background:</i>
            <input type="file" id="inputbackground">
        </div>
        <div>
            <h3>Link :</h3>
            <i>Background:</i>
            <input type="text" id="inputbackground__link">
            <button id="inputbackground__action">ok</button>
        </div>
        <div>
            <h3>Độ mờ: (nhập 0 > 100)</h3>
            <i>Background:</i>
            <input type="text" id="inputbackground__opacity">
            <button id="inputbackgroundopacity__action">ok</button>
        </div>
    </div>
</div>
<script>
    const cookies = document.cookie
    if (cookies) {
        const parseCoookie = JSON.parse(decodeURIComponent(cookies).split("=")[1])
        var avtURI = parseCoookie.avatar || "https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F47%2F2020%2F08%2F04%2Fcream-golden-retriever-closeup-91607998-2000.jpg"
        var username = parseCoookie.username ||  parseCoookie.admin_name
        const gmail = parseCoookie.gmail
        if(parseCoookie.avatar){
            var uservat ="../../../public/image/avatar/"+avtURI 
        }else{
           var uservat= "https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F47%2F2020%2F08%2F04%2Fcream-golden-retriever-closeup-91607998-2000.jpg"
        }
        console.log(uservat)
        const user_image = document.querySelector(".user_image")
        const header_username = document.querySelector(".header_username")
        
        if(user_image && header_username) {
            user_image.src = uservat
            header_username.innerHTML = username
        }
        
    }

</script> 