.main-container{
    background-color: rgba(37, 37, 37,0.5);
}

.seachcategory{
    padding-top: 50px;
    border-bottom: 2px solid white;
}

.seachcategory--name{
    padding: 10px;
    border-bottom: 2px solid yellow;
    width: fit-content;
}

.seachcategory--name >span,
.seachcategory--name >i{
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.seachcategory--info >p{
    color: rgb(255, 255, 255);
    text-indent: 20px;
    padding: 20px;
}