{{#each chapter.uri}}
<div class="chapterid" value="{{../chapter.id}}"></div>
<div class="chaptertoken" value="{{../token}}"></div>
    <div class="chapter--header__item">
        <img class="item" src="/public/image/chapter/{{../chapter.id}}/{{this}}" alt="">
    </div>
{{/each}}