{{>header cookies=cookies}}
<div class="main grid" onload="alert("hello")">
    <div class="main-container grid wide">
        <div class="main-container__topcomic" >
            <div>
                <h2>Truyện HOT   </h2>
                <div class="topcomic__list row no-gutters" id="main__topcomic">
                </div>
                <div class="topcomic__nextleft" id="nextleft" onclick="dashleft()"><i class="fa-solid fa-angle-left"></i></div>
                <div class="topcomic__nextright " id="nextright" onclick="dashright()"><i class="fa-solid fa-angle-right"></i></div>
            </div>
        </div>

        <div class="body">
            <div class="body--container row">
                <div class="body--container__listcomic l-8">
                    <div class="listcomic--top">
                        <div class="listcomic--top__newcomic">
                            <h2>Truyện Mới Cập Nhật </h2>
                        </div>
                    </div>
                    <div class="listcomic--main">
                        <div class="listcomic grid row">
                      
                        </div>
                    </div>
                    <div class="listcomic--footer">
                        <div class="listcomic--page">
                            <ul class="list--page" id="list--page">
                                
                                {{!--  <li class="page"><i class="fa-solid fa-angle-right"></i></li>
                                <li class="page"><i class="fa-solid fa-angles-right"></i></li> --}}
                            </ul>
                            <div class="anotherpage" id="showanotherpage">
                                <p>Nhập trang muốn tele</p> 
                                <div>
                                    <input type='text' id='pageInput'/>
                                    <button id="changepage">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="body--container__pullright l-4">
             
                    <div class="pullright--topcomic">
                        <div class="topcomic--header">
                            <div class="topcomic--month">
                                <a href="">Top Truyện</a>
                            </div>
                            {{!-- <div class="topcomic--week">
                                <a href="">Top Tuần</a>
                            </div>
                            <div class="topcomic--day">
                                <a href="">Top Ngày</a>
                            </div> --}}
                        </div>
                        <div class="topcomic--list">
                            <ul class="topcomic--bind">
                                
                            </ul>
                        </div>
                    </div>
                    <div class="pullright--topmember">
                        <div class="pullright--top">
                            <p>Top thành viên</p>
                        </div>
                        <div class="topmember--list">
                            <ul class="topmember--bind">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{>footer}}
